body {
    padding-top: 56px;
    padding-bottom: 20px;
}

.blog-post img{
    max-width:100%;
}
.blog-post-content{
    position:relative;
    max-height:300px;
    overflow:hidden;
}
.blog-post-content.long-text::after {
    content:"";
    position:absolute;
    top:250px;
    height:50px;
    width:100%;
    background-image:linear-gradient(to bottom,transparent,white)
}
.show-post img {
    max-width: 100%;
}
.cropper-wrapper {
    width: 50%;
    height: 200px;
    padding-bottom: 55px;
    background-color: #f0f0f0;
}